<!--Intro Section-->
<section class="view intro-2 hm-gradient">
  <div class="full-bg-img">
    <div class="container flex-center">
      <div class="row flex-center pt-5 mt-3">
        <div class="col-md-6 text-center text-md-left margins">
          <div class="white-text">
            <h1 class="h1-responsive">Keep track of Expenses, Attendance or manage reports with our app </h1>
            <hr class="hr-light">
            <h6>We provide a fully fledge solution to manage your day to day activities. Its very user friendly.</h6>
            <br>
            <a class="btn btn-outline-white" (click)="showLoginForm()">Login</a>
            <a class="btn btn-outline-white" (click)="showSignupForm()">
              Signup
            </a>
          </div>
        </div>

        <div class="col-md-6d-flex justify-content-center">
          <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-admin.png" alt="" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">

  <!--Grid row-->
  <!--Grid row-->

</div>

